.section3-container {
    display: flex;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3-title {
    text-align: center;
}

.image3-wrapper {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    gap: 50px;
    width: auto;
}

.image-border {
    border: solid 2px black;
    border-radius: 20px;
}

.image3-wrapper img {
    width: auto;
    height: 400px;
}

@media (max-width: 768px) {
    .image3-wrapper {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    
    .image3-wrapper img {
        width: 350px;
        height: 350px;
    }

    .explanation {
        display: flex;
        flex-direction: column;
    }
}